table{
    width: 100%;
    
}

.alinear {
    text-align: center;
    margin-top: 20px;
}

.spacer {
    flex: 1 1 auto;
}

mat-form-field {
    width: 140%
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    flex: 0 0 6%;
}

mat-card-content {
    margin-top: 20px;
}